@import '~antd/dist/antd.css';

/* 去掉electron右边的滚动条 */
::-webkit-scrollbar {
  width: 12px;
  display: none;
}

/* 重置antd */
html .ant-menu-inline-collapsed {
  width: 81px;
}
html .ant-layout {
  background: #fff;
}
