#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: #fff;
  margin: 24px;
}
.baseL {
  margin-top: 10px;
}
.Layoutcollapsed {
  margin-left: 81px;
  transition: all 0.2s;
}
.Layoutnotcollapsed {
  margin-left: 180px;
  transition: all 0.2s;
}
.toggleBtn {
  border: 0 !important;
  padding: 0 !important;
  margin-left: 24px !important;
  font-size: 24px !important;
}
.toggleBtnColl {
  border: 0 !important;
  padding: 0 !important;
  margin-left: 32px !important;
  font-size: 24px !important;
}
